<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/bootstrap")
        @Scripts.Render("~/bundles/modernizr")
    </head>
	<body>
		<div class="container">
			<header class="page-header">
				<h1>HTML5 Apps With JavaScript<small> Class Projects</small></h1>
			</header>
			<div class="row">
				@RenderBody()
			</div>
		</div>
       
		
    

		@RenderSection("scripts", required: false)
	</body>
</html>
